In [1]:
%store -r data_merged

In [2]:
df=data_merged.copy()

In [3]:
df.head()

,date_code,date,day,month,country,country_prov,country_code,pop20,ppl_km,avg_age,urbanization,confirmed,deaths,recovered,active
0,0,2020-01-22,22,1,China,China_Anhui,61,1439323776,153,38,61,1,0,0,1
1,0,2020-01-22,22,1,China,China_Beijing,62,1439323776,153,38,61,14,0,0,14
2,0,2020-01-22,22,1,China,China_Chongqing,63,1439323776,153,38,61,6,0,0,6
3,0,2020-01-22,22,1,China,China_Fujian,64,1439323776,153,38,61,1,0,0,1
4,0,2020-01-22,22,1,China,China_Gansu,65,1439323776,153,38,61,0,0,0,0

In [7]:
country=df['country'].unique()
len(country)

186

### Geocoders

In [8]:
from geopy.geocoders import Nominatim
    #https://pypi.org/project/geopy/
geolocator = Nominatim(user_agent="my-app", timeout=60)

lat=[]
long=[]
for place in country: 
    location = geolocator.geocode(place)
    lat.append(location.latitude)
    long.append(location.longitude)

In [9]:
my_dict={
    'Province':prov,
    'Latitude_prov': lat,
    'Longitude_prov': long
}

NameError: name 'prov' is not defined

coordinates per each state

In [ ]:
state_coord=pd.DataFrame(my_dict)
state_coord.head()

In [25]:
### not mandatory


#state_coord.to_csv('prov_coord.csv')

In [26]:
state_coord=pd.read_csv('csv/state_coord.csv', index_col=0)
prov_coord=pd.read_csv('csv/prov_coord.csv',index_col=0)

## final df

In [29]:
df.isna().sum()

update_date           0
update_hour           0
Update_datetime       0
Country_Region        0
Prov_State         3436
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [30]:
df.Prov_State.fillna('unknown',inplace=True)

In [31]:
df=df.merge(state_coord,how='left',left_on='Country_Region', right_on='State')

In [32]:
df.drop(['State'],1,inplace=True)
#df.head()

In [33]:
df=df.merge(prov_coord,how='left',left_on='Prov_State', right_on='Province')

In [34]:
df.drop(['Prov_State'],1,inplace=True)
#df.head()

In [35]:
df.isna().sum()

update_date           0
update_hour           0
Update_datetime       0
Country_Region        0
Confirmed             0
Deaths                0
Recovered             0
Latitude              8
Longitude             8
Province           4523
Latitude_prov      4523
Longitude_prov     4523
dtype: int64

In [36]:
df=df[['update_date','update_hour','Update_datetime','Country_Region','Province','Latitude','Longitude',
      'Latitude_prov','Longitude_prov','Confirmed','Deaths','Recovered']]
df.columns=['update_date','update_hour','Update_datetime','Country_Region','Prov_State','Latitude','Longitude',
      'Latitude_prov','Longitude_prov','Confirmed','Deaths','Recovered']
df.head()

,update_date,update_hour,Update_datetime,Country_Region,Prov_State,Latitude,Longitude,Latitude_prov,Longitude_prov,Confirmed,Deaths,Recovered
0,2020-01-22,17:00:00,2020-01-22 17:00:00,China,Anhui,35.000074,104.999927,32.000000,117.000000,1,0,0
1,2020-01-22,17:00:00,2020-01-22 17:00:00,China,Beijing,35.000074,104.999927,39.906217,116.391276,14,0,0
2,2020-01-22,17:00:00,2020-01-22 17:00:00,China,Chongqing,35.000074,104.999927,29.558571,106.549282,6,0,0
3,2020-01-22,17:00:00,2020-01-22 17:00:00,China,Fujian,35.000074,104.999927,26.545000,117.842778,1,0,0
4,2020-01-22,17:00:00,2020-01-22 17:00:00,China,Gansu,35.000074,104.999927,38.000000,102.000000,0,0,0

In [37]:
df.Latitude_prov.fillna(value=df.Latitude,inplace=True)
df.Longitude_prov.fillna(value=df.Longitude,inplace=True)

In [38]:
df.drop(['Latitude','Longitude'],1,inplace=True)

In [39]:
df.columns=['update_date','update_hour','Update_datetime','Country_Region','Prov_State','Latitude','Longitude',
            'Confirmed','Deaths','Recovered']

In [44]:
df[df['Country_Region']=='China']

,update_date,update_hour,Update_datetime,Country_Region,Prov_State,Latitude,Longitude,Confirmed,Deaths,Recovered
0,2020-01-22,17:00:00,2020-01-22 17:00:00,China,Anhui,32.000000,117.000000,1,0,0
1,2020-01-22,17:00:00,2020-01-22 17:00:00,China,Beijing,39.906217,116.391276,14,0,0
2,2020-01-22,17:00:00,2020-01-22 17:00:00,China,Chongqing,29.558571,106.549282,6,0,0
3,2020-01-22,17:00:00,2020-01-22 17:00:00,China,Fujian,26.545000,117.842778,1,0,0
4,2020-01-22,17:00:00,2020-01-22 17:00:00,China,Gansu,38.000000,102.000000,0,0,0
...,...,...,...,...,...,...,...,...,...,...
7772,2020-03-11,02:18:14,2020-03-11 02:18:14,China,Xinjiang,41.757477,87.167384,76,3,73
7774,2020-03-19,01:03:02,2020-03-19 01:03:02,China,Inner Mongolia,43.244324,114.325166,75,1,74
7775,2020-03-16,14:38:45,2020-03-16 14:38:45,China,Ningxia,37.000000,106.000000,75,0,75
7830,2020-03-11,02:18:14,2020-03-11 02:18:14,China,Qinghai,35.407095,95.952116,18,0,18
7894,2020-03-11,02:18:14,2020-03-11 02:18:14,China,Tibet,31.894343,87.078137,1,0,1

Latitude and Longitude per each province (if there is, otherwise County latitude and longitude)

In [41]:
#df.to_csv('cleanedDF.csv')

In [42]:
%store df

Stored 'df' (DataFrame)